:root {
  --border: 1px solid #eff0f1;
  --padding-tb: 1rem 0;
  --padding-t: 1rem 0 0 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:link {
  text-decoration: none;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.header {
  padding: 1rem;
  background: #05262c;
  color: #fff;
  text-align: center;
}

.question-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.question-list {
  padding: var(--padding-tb);
  border-bottom: var(--border);
}

.question-title {
  border-bottom: var(--border);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.comment {
  padding: var(--padding-t);
}

.post-question {
  display: flex;
  padding: var(--padding-t);
}
